.taskList {
  display: flex;
}

.App {
  width: 1024px;
  margin: auto;
  background-color: #f8f8f8;
  padding: 20px;
  margin-top: 50px;
  -webkit-box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.75);
}

h1 {
  color: #606c77;
  font-size: 40px;
}

input,
button {
  border-radius: 3px;
  border: none;
  height: 40px;
}

input {
  border: solid 1px lightgray;
  margin: 30px 0;
  width: 80%;
}

button {
  background-color: #9b4dca;
  color: white;
  width: 150px;
}

form {
  display: flex;
  flex-direction: column;
}

.fas {
  margin-left: 15px;
}
